body,
html,
#__nuxt,
#__layout {
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

.page-container {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

footer {
    width: 100%;
    margin: auto;
    background-color: #fff3f7;
    bottom: 0;
    position: absolute;
}

.contentImg {
    width: 50%;
}

ul {
    list-style: none;
    padding: 20px 20px 0 20px;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

.nuxt-link-active {
    color: #d27ab3;
}

.primary {
    color: #fce4ec;
}

.accent {
    color: #fff176;
}
